@CHARSET "UTF-8";
body{
}	
.main{
	width:100%;
	height:100%;
	position:absolute;
	bottom:4px;
}
.container{
	position:absolute;
	top:30px;
	bottom:0;
	width:100%;
	background:#fff;
	overflow:auto;
	//z-index:0;
}
.container .canvas{
	position:absolute;
	text-align:center;
}
.l-icon-x-folder-open{
	background:url('../../ligerUI/skins/Aqua/images/tree/folder-open.gif') no-repeat center;
}
.l-icon-x-play{
	background:url('../../img/play.ico') no-repeat center;
}
.l-icon-x-stop{
	background:url('../../img/stop.ico') no-repeat center;
}
#toolbar .l-text-label{
	padding-top:2px;
}
#toolbar [name="cezhan"] {
	padding-top: 1px !important;
}