@CHARSET "UTF-8";
html,body{
	height:100%; 
	overflow:hidden;
}
body {
    background-size:100%;
}
#edit-dlg .modal-body p {
	text-align: right;
	line-height: 30px;
	vertical-align: top;
}
#edit-dlg .modal-body span {
	color: #f00
}
#edit-dlg .modal-body p[name=err] {
	padding-left: 90px;
	text-align: left;
	color: #B94A48;
	margin: 0;
}
[class^="x-icon-"]{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/myicon.png?t=2");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}
.x-icon-1{
	background-position: 0  0;
}
.x-icon-2{
	background-position: -24px  0;
}
.x-icon-3{
	background-position: -48px  0;
}
.x-icon-4{
	background-position: -72px  0;
}
.x-icon-5{
	background-position: -96px  0;
}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.inline{
	display:inline;
}
.mt5{
	margin-top:5px;
}
.mt10{
	margin-top:10px;
}
.ml10{
	margin-left:10px;
}
.ml5{
	margin-left:5px;
}
.mask {       
    position: absolute; 
    top: 0px; 
    left: 0px; 
    z-index: 999999;     
    display:none;  
}
.mask>div{
	position: absolute;
  	left: 50%;
  	top: 38%;  	
  	background:rgba(40, 40, 40, 0.75);
  	border-radius:5px;
  	width: 7.6em;
	height: 7.6em;
	text-align: center;
}
.weui_toast_content {
  margin: 0 0 15px;
  color:#fff;
  margin-top: 64%;
  font-size: 14px;
}
.weui_loading {
  position: absolute;
  width: 0px;
  z-index: 2000000000;
  left: 50%;
  top: 38%;
}
.weui_loading_leaf {
  position: absolute;
  top: -1px;
  opacity: 0.25;
}
.weui_loading_leaf:before {
  content: " ";
  position: absolute;
  width: 8.14px;
  height: 3.08px;
  background: #d1d1d5;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
  border-radius: 1px;
  -webkit-transform-origin: left 50% 0px;
          transform-origin: left 50% 0px;
}
.weui_loading_leaf_0 {
  -webkit-animation: opacity-60-25-0-12 1.25s linear infinite;
          animation: opacity-60-25-0-12 1.25s linear infinite;
}
.weui_loading_leaf_0:before {
  -webkit-transform: rotate(0deg) translate(7.92px, 0px);
          transform: rotate(0deg) translate(7.92px, 0px);
}
.weui_loading_leaf_1 {
  -webkit-animation: opacity-60-25-1-12 1.25s linear infinite;
          animation: opacity-60-25-1-12 1.25s linear infinite;
}
.weui_loading_leaf_1:before {
  -webkit-transform: rotate(30deg) translate(7.92px, 0px);
          transform: rotate(30deg) translate(7.92px, 0px);
}
.weui_loading_leaf_2 {
  -webkit-animation: opacity-60-25-2-12 1.25s linear infinite;
          animation: opacity-60-25-2-12 1.25s linear infinite;
}
.weui_loading_leaf_2:before {
  -webkit-transform: rotate(60deg) translate(7.92px, 0px);
          transform: rotate(60deg) translate(7.92px, 0px);
}
.weui_loading_leaf_3 {
  -webkit-animation: opacity-60-25-3-12 1.25s linear infinite;
          animation: opacity-60-25-3-12 1.25s linear infinite;
}
.weui_loading_leaf_3:before {
  -webkit-transform: rotate(90deg) translate(7.92px, 0px);
          transform: rotate(90deg) translate(7.92px, 0px);
}
.weui_loading_leaf_4 {
  -webkit-animation: opacity-60-25-4-12 1.25s linear infinite;
          animation: opacity-60-25-4-12 1.25s linear infinite;
}
.weui_loading_leaf_4:before {
  -webkit-transform: rotate(120deg) translate(7.92px, 0px);
          transform: rotate(120deg) translate(7.92px, 0px);
}
.weui_loading_leaf_5 {
  -webkit-animation: opacity-60-25-5-12 1.25s linear infinite;
          animation: opacity-60-25-5-12 1.25s linear infinite;
}
.weui_loading_leaf_5:before {
  -webkit-transform: rotate(150deg) translate(7.92px, 0px);
          transform: rotate(150deg) translate(7.92px, 0px);
}
.weui_loading_leaf_6 {
  -webkit-animation: opacity-60-25-6-12 1.25s linear infinite;
          animation: opacity-60-25-6-12 1.25s linear infinite;
}
.weui_loading_leaf_6:before {
  -webkit-transform: rotate(180deg) translate(7.92px, 0px);
          transform: rotate(180deg) translate(7.92px, 0px);
}
.weui_loading_leaf_7 {
  -webkit-animation: opacity-60-25-7-12 1.25s linear infinite;
          animation: opacity-60-25-7-12 1.25s linear infinite;
}
.weui_loading_leaf_7:before {
  -webkit-transform: rotate(210deg) translate(7.92px, 0px);
          transform: rotate(210deg) translate(7.92px, 0px);
}
.weui_loading_leaf_8 {
  -webkit-animation: opacity-60-25-8-12 1.25s linear infinite;
          animation: opacity-60-25-8-12 1.25s linear infinite;
}
.weui_loading_leaf_8:before {
  -webkit-transform: rotate(240deg) translate(7.92px, 0px);
          transform: rotate(240deg) translate(7.92px, 0px);
}
.weui_loading_leaf_9 {
  -webkit-animation: opacity-60-25-9-12 1.25s linear infinite;
          animation: opacity-60-25-9-12 1.25s linear infinite;
}
.weui_loading_leaf_9:before {
  -webkit-transform: rotate(270deg) translate(7.92px, 0px);
          transform: rotate(270deg) translate(7.92px, 0px);
}
.weui_loading_leaf_10 {
  -webkit-animation: opacity-60-25-10-12 1.25s linear infinite;
          animation: opacity-60-25-10-12 1.25s linear infinite;
}
.weui_loading_leaf_10:before {
  -webkit-transform: rotate(300deg) translate(7.92px, 0px);
          transform: rotate(300deg) translate(7.92px, 0px);
}
.weui_loading_leaf_11 {
  -webkit-animation: opacity-60-25-11-12 1.25s linear infinite;
          animation: opacity-60-25-11-12 1.25s linear infinite;
}
.weui_loading_leaf_11:before {
  -webkit-transform: rotate(330deg) translate(7.92px, 0px);
          transform: rotate(330deg) translate(7.92px, 0px);
}
@-webkit-keyframes opacity-60-25-0-12 {
  0% {
    opacity: 0.25;
  }
  0.01% {
    opacity: 0.25;
  }
  0.02% {
    opacity: 1;
  }
  60.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-60-25-1-12 {
  0% {
    opacity: 0.25;
  }
  8.34333% {
    opacity: 0.25;
  }
  8.35333% {
    opacity: 1;
  }
  68.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-60-25-2-12 {
  0% {
    opacity: 0.25;
  }
  16.6767% {
    opacity: 0.25;
  }
  16.6867% {
    opacity: 1;
  }
  76.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-60-25-3-12 {
  0% {
    opacity: 0.25;
  }
  25.01% {
    opacity: 0.25;
  }
  25.02% {
    opacity: 1;
  }
  85.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-60-25-4-12 {
  0% {
    opacity: 0.25;
  }
  33.3433% {
    opacity: 0.25;
  }
  33.3533% {
    opacity: 1;
  }
  93.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.25;
  }
}
@-webkit-keyframes opacity-60-25-5-12 {
  0% {
    opacity: 0.270958333333333;
  }
  41.6767% {
    opacity: 0.25;
  }
  41.6867% {
    opacity: 1;
  }
  1.67667% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.270958333333333;
  }
}
@-webkit-keyframes opacity-60-25-6-12 {
  0% {
    opacity: 0.375125;
  }
  50.01% {
    opacity: 0.25;
  }
  50.02% {
    opacity: 1;
  }
  10.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.375125;
  }
}
@-webkit-keyframes opacity-60-25-7-12 {
  0% {
    opacity: 0.479291666666667;
  }
  58.3433% {
    opacity: 0.25;
  }
  58.3533% {
    opacity: 1;
  }
  18.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.479291666666667;
  }
}
@-webkit-keyframes opacity-60-25-8-12 {
  0% {
    opacity: 0.583458333333333;
  }
  66.6767% {
    opacity: 0.25;
  }
  66.6867% {
    opacity: 1;
  }
  26.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.583458333333333;
  }
}
@-webkit-keyframes opacity-60-25-9-12 {
  0% {
    opacity: 0.687625;
  }
  75.01% {
    opacity: 0.25;
  }
  75.02% {
    opacity: 1;
  }
  35.01% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.687625;
  }
}
@-webkit-keyframes opacity-60-25-10-12 {
  0% {
    opacity: 0.791791666666667;
  }
  83.3433% {
    opacity: 0.25;
  }
  83.3533% {
    opacity: 1;
  }
  43.3433% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.791791666666667;
  }
}
@-webkit-keyframes opacity-60-25-11-12 {
  0% {
    opacity: 0.895958333333333;
  }
  91.6767% {
    opacity: 0.25;
  }
  91.6867% {
    opacity: 1;
  }
  51.6767% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.895958333333333;
  }
}