/adapter.xml
/alarm.properties
/com/
/commom/
/compiler/
/conf/
/config/
/config.properties
/connector.xml
/log4j.properties
/memo
/processConfig.xml
/processFuncType.properties
/serviceConfig.xml
/statement/
/test/
